extends ../layouts/main

block contenido
  .d-flex.justify-content-between.align-items-center.mb-3
    h1 Lista de Empleados

    if usuario && usuario.rol === 'gerente_admin'
      a.btn.btn-success(href="/empleados/crear") + Nuevo Empleado

  .card.shadow-sm
    .card-body
      if mensaje
       .alert.alert-success(role="alert")= mensaje
       
      if empleados && empleados.length > 0
        .table-responsive
          table.table.table-hover.table-striped.align-middle
            thead.table-light
              tr
                th Nombre
                th Email
                th Rol
                th Área
                th.text-end Acciones
            tbody
              each empleado in empleados
                tr
                  td= empleado.nombre
                  td= empleado.email
                  td= empleado.rol_empleado
                  td= empleado.area
                  td.text-end
                    .btn-group(role="group")
                      button.expand-btn.btn.btn-sm.btn-outline-info(data-id=empleado._id) Detalles

                      if usuario && usuario.rol  === 'gerente_admin'
                        a.btn.btn-sm.btn-outline-warning(href=`/empleados/editar/${empleado._id}`) Editar
                        form(action=`/empleados/eliminar/${empleado._id}?_method=DELETE`, method="POST", style="display:inline")
                          button.btn.btn-sm.btn-outline-danger(type="submit", onclick="return confirm('¿Estás seguro de eliminar este empleado?')") Eliminar

                tr.detalle(id='detalle-' + empleado._id, style="display:none")
                  td.bg-light-subtle(colspan="5")
                    p #[strong Habilidades:] #{empleado.habilidades ? empleado.habilidades.join(', ') : 'N/A'}
                    p #[strong Especialidad:] #{empleado.especialidad || 'N/A'}
      else
        .alert.alert-info.mb-0 No hay empleados registrados.
